- title @forum.title

= forum_breadcrumbs(@forum)

%table.forum-view
  - if @descendants.any?
    %thead
      %tr
        %th Подфорумы
        %th Тем
        %th Ответов
        %th Последний ответ
      - @descendants.each do |forum|
        %tr
          %td
            = link_to h(forum.title), forum_path(forum)
            = forum_actions(forum)
            = content_tag :div, h(forum.description) if forum.description
          %td.topics_count= h forum.topics_count
          %td.posts_count= h forum.posts_count
          %td.last_post= last_post(forum.last_post)
  - if @topics.any?
    %tbody
      %tr
        %th{:colspan => 2} Темы
        %th Ответов
        %th Последний ответ
      - @topics.each do |topic|
        %tr
          %td{:colspan => 2}
            = link_to h(topic.subject), topic_path(topic)
            = topic_actions(topic)
          %td.posts_count= topic.posts_count
          %td.last_post= last_post(topic.last_post)

= link_to 'Добавить подфорум', new_forum_path(:parent_id => @forum.id)
= link_to 'Создать тему', new_forum_topic_path(@forum)
