- f.inputs do
  = f.input :title
  = f.input :teaser, :input_html => {:rows => 8}
  = f.input :body
  = f.input :published, :required => false
  = f.input :commented, :required => false
  = f.input :colleges, :required => false
= f.buttons
