<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_newsitems_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_newsitem_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_newsitem_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      <h1><%= @newsitem.title %></h1>
      <div class="text">
        <%= @newsitem.body %>
      </div>
      <br />
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_admin_newsitem_path(@newsitem), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", admin_newsitem_path(@newsitem), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar do -%>
<div class="block">
  <h3>Информация</h3>
  <div class="content">
    <p>
      <ul>
        <%= "<li>Новость относится к #{@newsitem.colleges.collect(&:abbr).join(', ')}</li>" if @newsitem.colleges.any? %>
        <%= "<li>Автор: #{@newsitem.author}</li>" %>
        <%= "<li>Дата: #{@newsitem.created_at}</li>" %>
        <% if @newsitem.published? %>
          <li>Опубликовано</li>
        <% else %>
          <li><b>Не опубликовано</b></li>
        <% end %>
      </ul>
    </p>
  </div>
</div>
<% end %>