<p>
  <b>Title:</b>
  <%=h @newsitem.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @newsitem.body %>
</p>

<p>
  <b>Published:</b>
  <%=h @newsitem.published %>
</p>


<%= link_to 'Edit', edit_newsitem_path(@newsitem) %> |
<%= link_to 'Back', newsitems_path %>