- f.inputs do
  = f.input :last_name
  = f.input :first_name, :required => false
  = f.input :middle_name, :required => false
  = f.input :email, :required => false
  = f.input :text, :required => false
= f.buttons
