%h1 добавлени материалов

%p
  Довольно важный раздел, которому надо уделить достаточно много внимания.
  %br
  Опишу основные моменты.

%p Тут можно было бы показать информаци о материалах, которые пользователь уже добавил и плюс предложить добавить еще.

%h2 Уже добавлено

%p Надо показать что мы уже добавили.
%p Вобще публикации будут премодерируемыми (по крайней мере пока что). На разных этапах у пользователя разные права на его материал
%ul
  %li
    %strong до модерации:
    можно удалять, редактировать
  %li
    %strong после модерации:
    удалять нельзя, редактировать нельзя, но можно оставить в свободной форме запрос модератору чтобы тот что-то подредактировал. Т.е. на форме редактирования я думаю выводм все, но ничего нельзя отредактировать кроме одного нового поля, в которое можно написать коммент для модератора, чтобы он что-то подправил.




%h2 Добавление преподавателей

%p
  Один и тот же преподаватель может работать одновременно в двух (или даже более) ВУЗах. Делать дубликаты не хочется. Поэтому в структуре БД я сразу предусматривал этот вариант и через текущую админку мы уже сейчас можем добавить несколько работ.
  = link_to 'добавление нового препода через админку', new_admin_teacher_url(:subdomain => 'admin')
  Т.е. у нас есть сущность - Преподаватель. А для этой сущности можно добавлять несколько работ.

%p Тут я бы хотел как-нибудь ограничить пользователя от создания дубликатов. Поэтому после того, как пользователь указал ФИО препода было бы здорово поискать такого препода и выдать список похожих (по возможности даже наверное с фотками).
%p Я вижу это примерно так

%ol
  %li человек жмёт кнопку "добавить препода", ему открывается форма с полями лишь для ввода имени, отчества, фамилии и кнопка "Далее".
  %li он заполняет поля, какие знает и потом жмёт эту кнопку. Система ищет похожих преподов во всех вузах и предлагает ему их.
  %li
    У человека выбор:
    %ol{:type => 'a'}
      %li этот же препод уже есть, но в другом виде и ему надо указать, что этот препод и в его вузе работает
      %li этот же препод и в его же вузе (т.е. чел при поиске преподов просто его не заметил)
      %li в предложенных вариантах нету этого препода и всё-таки надо добавлять нового.

%p Если ситуация (a) => открываем форму, где человек указывает кафедру и предметы и плюс поле примечания, где он может так от себя чего-нить добавить. А потом уже модератор видит эту инфу на своей, админской, форме редактирования преподов и одобряет это новое место работы и если автор что-то еще дополнительно писал, то модератор вносит это в другие поля.
%p Если ситуация (b) => просто попадает на страницу просмотра этого препода и ничего не редактирует
%p Если ситуация (c) => открываем форму с оставшимися  полями и потом сохраняем препода.

%p Еще варианты приветствуются

%h2 Добавление шпор, метод, конспектов, контрольных, лаб, типовых расчетов...

%p Это непосредственно сущности контента. Их точный перечень пока не утверждён и вобще наверное они даже могут меняться от ВУЗа к ВУЗу (это админ будет в админке задавать). Но теоретически у пользователя может быть и не указан ВУЗ. Или же может у него указан нархоз, где нету например понятие типовых расчетов,  а он хочет добавить типовой расчет в БГУИР. Как вариант он конечно может зайти на странице БГУИР и там нажать "добавить типовой расчет". но если красиво как-то можно придумать как это же всё показать и в интерфейсе пользователя, то было бы здорово.

%p Как вариант можно попробовать сделать так::

Если у пользователя указан ВУЗ в профиле, то он видит:

%fieldset
  Добавить в БГУИР
  %ul
    %li= link_to 'преподавателя', '#'
    %li= link_to 'шпору', '#'
    %li= link_to 'методу', '#'
    %li= link_to 'конспект', '#'
    %li= link_to 'лабу', '#'

  %p
    или добавить в
    %select
      %option
      %option{:selected => true} БГУ
      %option БГТУ
      %option БАТУ
    %ul
      %li= link_to 'преподавателя', '#'
      %li= link_to 'конспект', '#'
      %li= link_to 'лабу', '#'
%br
%hr

%p По сути добавлени материалов я думаю правильнее чтобы бы было в интерфейсе того ВУЗа, куда мы его добавляем, а из профиля можно было бы просто ссылаться на соответствующие страницы, а то на страницах ВУЗов полюбому тоже нужны ссылки на добавление материала в любое место, так чтобы не делать два раза этот функционал. И если добавление на поддомене ВУЗа, то на форме можно уже не показывать поле ВУЗа. Только вот надо подумать хорошенько как с преподами быть. Т.е. меня беспокоит как там быть если после ввода фио мы поискали препода и нашли и что так как дальше. Вобщем я детально сам это еще не продумывал, а надо бы.
