- form_for @topic do |f|
  = f.error_messages
  %p
    = f.label :forum
    %br
    = f.text_field :forum
  %p
    = f.label :subject
    %br
    = f.text_field :subject
  %p
    = f.label :author_id
    %br
    = f.text_field :author_id
  %p
    = f.label :last_post_id
    %br
    = f.text_field :last_post_id
  %p
    = f.submit
