- title "Новый топик"

%h3= "форум: #{@topic.forum.title}"
- semantic_form_for [@topic.forum, @topic] do |f|
  = f.error_messages
  - f.inputs do
    = f.input :subject
  - semantic_fields_for @post do |p|
    = p.inputs
  = f.buttons
