- title @topic.subject

= will_paginate @posts
= forum_breadcrumbs(@topic.forum, true)

%table.posts-list
  - @posts.each do |post|
    - author = post.author
    %tr
      %td.author
        = link_to author.name, user_path(author), :name => post.id
        %br
        = image_tag author.avatar(:medium) if author.avatar.file?
      %td
        %div{:class => 'actions'}
          = post_actions(post)
        %i= format_date_and_time(post.created_at)
        %hr
        = post.text
= will_paginate @posts
- if @new_post
  %h3 Ответить
  = render :partial => 'posts/form', :locals => {:post => @new_post}
- else
  %h3 Топик закрыт

%p= "Просмотров: #{@topic.visits}"
