.item.attach
  - if f.object.new_record?
    - f.inputs :class => 'attach_file' do
      = f.input :file
      = f.input :description
  - else
    - f.inputs :class => 'attach_details' do
      = link_to f.object.name, f.object.file.url, :target => '_blank'
      = f.input :description
      = f.input :_destroy, :as => :hidden
      %li= link_to_function "Удалить", 'remove_attach(this)'
