.block
  .secondary-navigation
    = render_navigation(:context => :admin, :level => 2)
    .clear
  .content
    %h2.title Факультеты и кафедры
    .inner
      %table.table
        %tr
          %th Название
          %th Аббревиатура
          %th.last
            &nbsp;
        - @faculties.each do |faculty|
          %tr
            %td
              = faculty.name
              - if faculty.departments.any?
                %ul
                  - faculty.departments.each do |department|
                    %li= link_to department.name, edit_admin_college_department_path(params[:college_id], department)
            %td= faculty.abbr
            %td.last
              = link_to "Редактировать", edit_admin_college_faculty_path(faculty.college, faculty)
              |
              = link_to "Удалить", admin_college_faculty_path(faculty.college, faculty), :method => :delete, :confirm => "Уверен?"
      
      .actions-bar.wat-cf
        .actions
          .create_button
            = link_to "#{image_tag 'web-app-theme/tick.png'} Добавить факультет", new_admin_college_faculty_path, :class => 'button'
            = link_to "#{image_tag 'web-app-theme/tick.png'} Добавить кафедру", new_admin_college_department_path, :class => 'button'
            .clear
