<%= form.label :abbr, 'Аббревиатура <span>*</span>' %><br />
<%= form.text_field :abbr %><br />
<div class="description">Например: <i>БГУ</i></div>
<br />

<%= form.label :name, 'Полное название' %><br />
<%= form.text_field :name %><br />
<div class="description">Например: <i>Белорусский Государтвенный Университет</i></div>
<br />

<%= form.label :subdomain, 'Название поддомена <span>*</span>' %><br />
<%= form.text_field :subdomain %><br />
<div class="description">Например: <i>bsu</i></div>
