<div class="block">
  <div class="secondary-navigation">
    <%= render_navigation(:context => :admin, :level => 2) %>
    <div class="clear"></div>
  </div>
  <div class="content">
    <h2 class="title">Учебные заведения</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th>Название</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @colleges.each do |college| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%= link_to college.name, admin_college_path(college) %></td>
            <td class="last">
              <%= link_to 'Предметы', admin_college_disciplines_path(college) %> |
              <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_college_path(college) %> |
              <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_college_path(college), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            </td>
          </tr>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>