- render :layout => 'admin/colleges/layout' do
  %h2.title= @college.name
  .inner
    %p
      = link_to root_url(:subdomain => @college.subdomain), root_url(:subdomain => @college.subdomain)
    .wat-cf
      = link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "Редактировать информацию")} Редактировать информацию", edit_admin_college_path(@college), :class => "button"
      = link_to "#{image_tag("web-app-theme/cross.png", :alt => "Удалить ВУЗ")} Удалить ВУЗ", admin_college_path(@college), :method => "delete", :class => "button", :confirm => "Уверен?"

.block
  .content
    .inner
      %h3 Предметы
      - d_count = @college.disciplines.count
      %p= link_to "#{d_count} #{Russian.p(d_count, 'предмет', 'предмета', 'предметов')}", admin_college_disciplines_path(@college)
      .wat-cf
        = link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "Добавить предмет")} Добавить предмет", new_admin_college_discipline_path(@college), :class => "button"

.block
  .content
    .inner
      %h3 Факультеты
      - d_count = @college.faculties.count
      %p= link_to "#{d_count} #{Russian.p(d_count, 'факультет', 'факультета', 'факультетов')}", admin_college_faculties_path(@college)
      .wat-cf
        = link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "Добавить факультет")} Добавить факультет", new_admin_college_faculty_path(@college), :class => "button"

.block
  .content
    .inner
      %h3 Материалы
      - d_count = Content::Synopsis.find_by_college(@college).count
      %h4= link_to "#{d_count} #{Russian.p(d_count, 'конспект', 'конспекта', 'конспектов')}", admin_college_synopses_path(@college)
      - d_count = Content::Crib.find_by_college(@college).count
      %h4= link_to "#{d_count} #{Russian.p(d_count, 'шпора', 'шпоры', 'шпор')}", admin_college_cribs_path(@college)
      - d_count = Content::Manual.find_by_college(@college).count
      %h4= link_to "#{d_count} #{Russian.p(d_count, 'метода', 'методы', 'метод')}", admin_college_manuals_path(@college)
