  <%= f.error_messages%>
  <div class="group">
    <%= f.label :name, 'Полное название', :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :abbr, 'Аббревиатура', :class => :label %>
    <%= f.text_field :abbr, :class => 'text_field' %>
    <span class="description">если есть</span>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", admin_college_disciplines_path, :class => "button" %> 
</div>