- render :layout => 'admin/colleges/layout' do
  %h2.title Предметы
  .inner
    .actions-bar.wat-cf
      .actions
        .create_button
          = link_to "#{image_tag 'web-app-theme/tick.png'} Добавить предмет".html_safe, new_college_discipline_path, :class => 'button'
          .clear
      = will_paginate @disciplines
    %table.table
      %tr
        %th Название
        %th Аббревиатура
        %th.last
          &nbsp;
      - @disciplines.each do |discipline|
        %tr
          %td= discipline.name
          %td= discipline.abbr
          %td.last
            = link_to "#{t("web-app-theme.edit", :default => "Edit")}".html_safe, edit_college_discipline_path(discipline.college, discipline)
            |
            = link_to "#{t("web-app-theme.delete", :default => "Delete")}".html_safe, college_discipline_path(discipline.college, discipline), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

    .actions-bar.wat-cf
      .actions
        .create_button
          = link_to "#{image_tag 'web-app-theme/tick.png'} Добавить предмет".html_safe, new_college_discipline_path, :class => 'button'
          .clear
      = will_paginate @disciplines
