%h1= @user.login
%ul
  %li= link_to 'Редактировать личную информацию', edit_account_path


= image_tag @user.avatar.url, :style => 'float: right' if @user.avatar.file?
- unless @user.full_name.blank?
  %p
    %i= @user.full_name

- if @user.college
  %p= @user.college.name

- unless @user.faculty
  %p= @user.faculty

- unless @user.speciality.blank?
  %p= @user.speciality

- unless @user.loved_discipline.blank?
  %p= "Любимый предмет: #{@user.loved_discipline}"

- unless @user.unloved_discipline.blank?
  %p= "Нелюбимый предмет #{@user.unloved_discipline}"

- unless @user.gender.blank?
  %p= "Пол: #{@user.gender}"

- if @user.birthday
  %p= "День рождения: #{format_date(@user.birthday)}"

- unless @user.city.blank?
  %p= "Родной город: #{@user.city}"

- unless @user.description.blank?
  %p
    %b О себе
  = @user.description

- unless @user.gender.blank?
  %p= "Пол: #{@user.gender}"

- unless @user.jabber.blank?
  %p= "Jabber: #{@user.jabber}"

- unless @user.skype.blank?
  %p= "Skype: #{@user.skype}"

- unless @user.icq.blank?
  %p= "icq: #{@user.icq}"

- unless @user.twitter.blank?
  %p= "twitter: @#{@user.twitter}"
