= f.inputs do
  = f.input :login
  = f.input :password, :input_html => { :autocomplete => 'off'}
  = f.input :password_confirmation, :input_html => { :autocomplete => 'off'}
  = f.input :email
  - hint = ''
  - hint = image_tag(f.object.avatar.url(:medium)) if f.object.avatar.file?
  = f.input :avatar, :hint => hint
  = f.input :active

= f.inputs do
  %h3 Учёба
  = f.input :college_id, :collection => College.all, :required => false
  = f.input :faculty, :required => false
  = f.input :speciality, :required => false
  = f.input :loved_discipline, :required => false
  = f.input :unloved_discipline, :required => false

= f.inputs do
  %h3 Личное
  = f.input :first_name, :required => false
  = f.input :last_name, :required => false
  = f.input :gender, :required => false, :as => :select, :collection => [['мужской', :male], ['женский', :female], ['паркетный', :parquet]]
  = f.input :birthday, :required => false, :start_year => Time.now.year - 100, :end_year => Time.now.year - 15
  = f.input :city, :required => false
  = f.input :description, :required => false

= f.inputs do
  %h3 Контактная информация
  = f.input :jabber, :required => false
  = f.input :skype, :required => false
  = f.input :icq, :required => false
  = f.input :twitter, :required => false

= f.buttons
