.block
  .content
    %h2.title
      Пользователи
    .inner
      %table.table
        %tr
          %th Логин
          %th E-mail
          %th ВУЗ
          %th.last &nbsp;
        - @users.each do |user|
          %tr{ :class => cycle("odd", "even") }
            %td= link_to user.name, edit_admin_user_path(user)
            %td= user.email
            %td= user.college.abbr if user.college
            %td.last= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
      .actions-bar.wat-cf
        .actions
          .create_button
            = link_to "#{image_tag 'web-app-theme/tick.png'} Добавить Пользователя", new_admin_user_path, :class => 'button'
          .clear
