- f.inputs do
  = f.input :title
  = f.input :year, :required => false
  = f.input :body
%div.form_container
  = render :partial => 'admin/attaches/attachments', :locals => {:f => f}
- f.inputs do
  = f.input :discipline, :collection => @disciplines, :include_blank => f.object.new_record?
  = f.input :teacher_id, :collection => @college.teachers, :include_blank => true, :required => false
  = f.input :commented, :required => false
  = f.input :published, :required => false
  = f.input :promoted, :required => false
= f.buttons
