- render :layout => 'admin/colleges/layout' do
  %h2.title Конспекты
  .inner
    %table.table
      %tr
        %th Название
        %th Предмет
        %th Опубликовал
        %th.last
          &nbsp;
      - @synopses.each do |synopsis|
        %tr
          %td= link_to synopsis.title, edit_admin_college_synopsis_path(synopsis.college, synopsis)
          %td= synopsis.discipline.name
          %td= synopsis.author.login
          %td.last= link_to 'Удалить', admin_college_synopsis_path(synopsis.college, synopsis), :method => :delete, :confirm => "Уверен?"

    .actions-bar.wat-cf
      .actions
        .create_button
          = link_to "#{image_tag 'web-app-theme/tick.png'} Добавить конспект", new_admin_college_synopsis_path, :class => 'button'
          .clear
