- render :layout => 'admin/colleges/layout' do
  %h2.title Конспекты
  .inner
    .actions-bar.wat-cf
      .actions
        .create_button
          = link_to "#{image_tag 'web-app-theme/tick.png'} Добавить конспект", new_admin_college_synopsis_path, :class => 'button'
          .clear
      = will_paginate @resources
    %table.table
      %tr
        %th Название
        %th Предмет
        %th Опубликовал
        %th.last
          &nbsp;
      - @resources.each do |resource|
        %tr{:class => "#{'unpublished' unless resource.published}"}
          %td= link_to resource.title, edit_admin_college_synopsis_path(resource.college, resource)
          %td= resource.discipline.name
          %td= resource.author.login
          %td.last= link_to 'Удалить', admin_college_synopsis_path(resource.college, resource), :method => :delete, :confirm => "Уверен?"

    .actions-bar.wat-cf
      .actions
        .create_button
          = link_to "#{image_tag 'web-app-theme/tick.png'} Добавить конспект", new_admin_college_synopsis_path, :class => 'button'
          .clear
      = will_paginate @resources

  - content_for :sidebar_top do
    = render :partial => 'admin/partials/content_listings_legend'
