!!! Strict
%html{ :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Zachet.org
    = stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/warehouse/style", "jquery.comboselect", :cache => "cache_admin"
    = formtastic_stylesheet_link_tag
    = javascript_include_tag "jquery", "jrails", "admin", "jquery.selso", "jquery.comboselect", "jquery.livequery", :cache => "cache_admin"
  %body
    #container
      #header
        %h1= link_to 'Zachet.org', admin_path
        #user-navigation= render_navigation(:context => :user, :level => 1)
        #main-navigation
          = render_navigation(:context => :admin, :level => 1)
          .clear
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}" }
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy;
                = Time.now.year
                Zachet.org
        #sidebar
          = yield :sidebar_top
          = yield :sidebar
          = yield :sidebar_bottom

