!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= h current_college.name
    = stylesheet_link_tag 'college_layout'
    = college_custom_head.html_safe
    = yield(:head)
  %body
    #header
      %div.user-navigation= render_navigation(:context => :user, :level => 1)
      %h1= link_to current_college.abbr, root_path
      %h3= current_college.name
      .clear

    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      - if show_title?
        %h1= h yield(:title)
      = yield
